#include "resource.h"

IDI_FOLDER_ICON ICON "folderIcon.ico"
IDI_TEXT_ICON   ICON "txtIcon.ico"
IDI_PNG_ICON    ICON "pngIcon.ico"
IDI_JPG_ICON    ICON "jpgIcon.ico"
IDI_ZIP_ICON    ICON "zipIcon.ico"
IDI_FILE_ICON   ICON "fileIcon.ico"
IDI_AUDIO_ICON  ICON "audioIcon.ico"
IDI_SHADER_ICON ICON "shaderIcon.ico"

